* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-family: roboto;
    max-width: 80%;
    margin: 20px auto;
    font-size: 60px;
    letter-spacing: 1px;
}

.typingMark {
    display: inline-block;
    opacity: 1;
    transition: .2s;
}

.typingMark.typingMarkActive {
    opacity: 0;
}