* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

div {
    font-family: roboto;
    max-width: 80%;
    margin: 20px auto;
    font-size: 60px;
    letter-spacing: 1px;
}

.typingMark::after {
    content: "|";
    display: inline-block;
    opacity: 1;
    transition: .2s;
    animation: typingMark 1s ease infinite;
}

/* .typingMark.typingMarkActive {
    opacity: 0;
} */


@keyframes typingMark {
    0% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    46% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}